.btn-warning{
    box-shadow: 0px 3px 10px gray;
    font-weight: bold;
}
.size{
    background-color: white;
    box-shadow: 2px 2px 1px orange;
}
img{
    object-fit: cover;
    height: max(10rem, 40vh);  
}

.btn-check{
    width: 100%;
}

.form-check{
    width: 100%;
}
.form-check-input:checked {
    background-color: orange;
    border: none;
}

.card-text{
    width: 100%;
}
p{
    font-weight: 400;
}
span{
    font-weight: bolder;
}