.section_padding{
    padding: 1rem 2rem 0 2rem;
}
.footer{
    background-color: black;
}

.sb_footer{
    display: flex;
    flex-direction: column;
}
#logo-name{
    font-size: 25px;
}
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.sb_footer-links-div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
    margin: 15px 20px 15px 0;
    cursor: pointer;
    
}

.sb_footer-links-div h3{
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
